*~
*.swp
*.sh.o*
*.tsv
hhblits_out/*.hhr
__pycache__
significant_cifs/bsasa_*.csv
significant_cifs/*.gz
significant_cifs/*.bio.mmtf
significant_cifs/*.cif
significant_cifs/*.csv
*.png
*.pkl
*.pdf
*.ipynb
*.fasta
*.xls
*.xlsx
*.pairsWprob
*.interactome.txt
*.tar.gz
*humap2_complexes_20200809.txt
.Rproj.user
.DS_Store
.RHistory
scripts/hgscore
results
*.tab3.txt
data/intact

data/hiv_emap/data_s1.csv
data/processed/preppi
